.calendarPage {
    min-height: 100vh;
}

.circle {
    height: 120px;
    width: 120px;
    /*background: url("../../../public/snowflake.png")*/
    background: url("snowflake.png") no-repeat center center;
    background-size: contain;
}

.number {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: black;
}
