.calendarPage {
    min-height: 100vh;
}

.circle {
    height: 120px;
    width: 120px;
    /*background: url("../../../public/snowflake.png")*/
    background: url("snowflake.png") no-repeat center center;
    background-size: contain;
}

.number {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: black;
}
.fontStyle{
    font-family: monospace;
}
.motivationBox{
    font-size: 15px;
}
.motivationBox h2{
    text-align: center;
}
.jokeBox{
    /*margin-top: 15px;*/
}
.jokeBox h2{
    text-align: center;
}
.quoteBox{
    text-align: justify;
}
.authorBox{
    text-align: right;
    padding-right: 50px;
    font-style: italic;
    font-weight: bold;
}
.videoBox{
}